@import url('https://fonts.googleapis.com/css?family=Source+Caveat&display=swap');

body {
  margin: 0;
  font-family: Caveat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: Caveat;

}

